

aside{
  float: right;
}

footer{
  bottom: 0;
  position: absolute;
  color: red
}
a{
  padding: 5px
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
/* -------selectors------------------- */
p {
  color: red;
}

#headerId {
  color: green;
}
.classSelector {
  color:blue;
  background:yellow;
  width:200px;
  height:200px;
}

table, th, td {
  border: 1px solid black;
  border-collapse:collapse
}

a[target="_blank"] {
  background:yellow;
}

[title~="attributeTitle"] {
  border: 2px solid green
}

[class |= "link"] {
  color: green
}
[class $= "test"] {
  background: yellow;
}

[method ~='get'] {
  background: green;
}

input[type^='text'] {
  background: yellow;
}

input[type='button'] {
  background: cyan;
}